

body {
  user-select: none;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  height: 100vh;
    justify-items: center;  
    align-content: center;
  margin: 0;
   cursor: url('assets/cursorIcon2.svg') 16 16, auto;
   color: black;
}

.border {
    display: grid;
position: absolute;
overflow: clip;
white-space: nowrap;
}

.borderlink {
color: rgba(255, 0, 95, 0.5);
font-family: 'Libre Baskerville', serif;
font-style: italic;
font-weight: bold;
letter-spacing: -1px;
font-size: 15px;
}

#top {
width: 95vw;
margin-top: -4vh;
}

#bottom {
width: 95vw;
bottom: 1vh;
rotate: 180deg;
}

#left {
width: 92vh;
left: -42vh;
top: 48.5%;
rotate: -90deg;
}

#right {
width: 92vh;
right: -42vh;
top: 48.5%;
rotate: 90deg;
}

#main {
    width: 90vw;
   height: 90vh;
   overflow-x: hidden;
   overflow-y: scroll;
   /* border: 2px dashed blue; */
   
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  z-index: -1;
}

h1 {
    overflow-wrap: normal;
}

h1#index-title {
 font-size: 200px;
 position: relative;
 line-height: 180px;
 margin-bottom: 250px;
}


#myFace {
    position: sticky;
    width: 400px;
    right: 25%;
    top: 25%;
    border-radius: 20px;
   
}

p {
    font-family: 'AHG', sans-serif;
    font-size: 24px;
}

a {
    color: black;
    transition: color  0.15s ease;
     text-decoration: 1.5px underline;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.5rem;
    
}

a:hover {
    color: #61d10a;
    cursor: url('assets/cursorIconHover2B.svg') 16 16, pointer;

}

div#highlights {
    position: relative;
    top: 150px;
    display: grid;
    justify-content: space-between;
    border: red solid 2px;
    grid-template-columns: auto auto auto;
   gap: auto;
}

img.highlight {
    height: 18rem;
    filter: saturate(0);
    transition: filter 0.5s ease;
}

img.highlight:hover {
    filter: saturate(1);
    cursor: url('assets/cursorIconHover.svg') 16 16, pointer;   
    transition: filter 0.5s ease;
}

h2 {
    font-size: 60px;
    position: relative;
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: black solid 5px;
    margin: 0px;
    width: 90vw;
}

p.left {
    text-align: left;
}

p.right {
    text-align: right;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
}

::-webkit-scrollbar {
  display: none;
}

