body {
  position: absolute;
  user-select: none;
  font-family: 'Archivo', sans-serif;
  font-weight: normal;
  margin: 0px;
  cursor: url('assets/site/cursorIconBlue.png') 16 16, auto;
  color: black;
  left: 0;
  top: 0;
    width: 100vw;
    height: 100vh;
    overflow: clip;
}

nav {
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    height: 5vh;
    display: grid;
    justify-content: space-between;
    align-content: end;
    grid-template-columns: auto auto;
    z-index: 1;
}

#main {
    position: absolute;
    top: 5vh;
    width: 95vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: clip;
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 70px;
   scrollbar-color: transparent;
   /* border: 2px dashed blue; */
}

.project{
    display: grid;
    grid-auto-columns:auto auto;
    line-height: 1.5rem;
    width: 35vw;
    overflow-y: scroll;
 }


#projectthin {
    display: grid;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    width: 30vw;
    line-height: 1.5rem;
}

.project::-webkit-scrollbar, #projectthin::-webkit-scrollbar, .main::-webkit-scrollbar, .projectlist::-webkit-scrollbar, .projinfo::-webkit-scrollbar  {
  display: none; /* Hides the scrollbar */
  cursor: url('assets/site/cursorIconBlueHover.png') 16 16, auto;
}


.projectlist {
    overflow-y: scroll;
    padding-right: 5px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  z-index: -3;
  filter: blur(.75px)

}

h1 {
    overflow-wrap: normal;
}

#index, #title {
    font-size: 10vh;
    position: relative;
    position: sticky;
    height: 5vh;
    letter-spacing: -2px;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}



p {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    transition: color 0.15s ease;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    letter-spacing: -1px;
    
    color: #0800ff;
}

a:hover {
    text-decoration: underline 2px solid #0800ff;
    cursor: url('assets/site/cursorIconBlueHover.png') 16 16, pointer;
   
}

img.highlight {
    height: 40vh;
    z-index: 1;
}

#linked img {
    height: 20vh;
}

#highlightcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: right;
    letter-spacing: -1px;
}


#bio {
    text-wrap: balance;
}

.about {
    /* border: 2px solid yellowgreen; */
    display: grid;
    align-items: flex-end;
    justify-content: center;
}

.projinfo {
 align-content: flex-start;
    text-wrap: balance;   
    overflow-y: scroll;

}

.invisible {
   display: none;
}

hr {
    cursor: url('assets/site/cursorIconBlueHover.png') 16 16, pointer;
    border: none;
    border-top: black solid 2px;
    margin: 0px;
   
}

p.left {
    font-style: normal;
    text-align: left;
    width: fit-content;
    height: fit-content;
}


p.right {
    text-align: right;
    width: fit-content;
    height: fit-content;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

mark {
    background-color: transparent;
}

.row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    text-wrap: balance;
    height: fit-content;
    padding: 0px;
}

.projectnav {
    width: 20vw;
    overflow-y: scroll;
}

.projectnav .row {
    padding: 2px;
}



@media screen and (max-width: 768px) {
body {
    color: blue;
}

#main {
    width: 85vw;
    height: 88vh;
}


p {
    font-size: 4vw;
}

a {
    font-size: 1.1rem;
}

h1#index-title {
    font-size: 11vw;
    line-height: 12vw;
 margin-bottom: 80px;
}




}