body {
  position: absolute;
  user-select: none;
  font-family: 'Archivo', sans-serif;
  font-weight: normal;
  margin: 0px;
  cursor: url('assets/site/cursorIconBlue.png') 16 16, auto;
  color: black;
}


nav {
    position: absolute;
    width: 90vw;
    left: 5vw;
    height: 5vh;
    display: grid;
    justify-content: space-between;
    align-content: end;
    grid-template-columns: auto auto;
    z-index: 1;
}

/* nav a {
    font-family: 'Archivo', sans-serif;
} */


#bordercontainer {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    color: rgb(190, 190, 190);
    font-size: 14px;
    z-index: -2;
}

#top {
position: absolute;
left: 0;
width: 100vw;
}


#bottom {
position: absolute;
width: 100vw;
left: 0;
bottom: 0vh;
transform: rotate(180deg); 
}

#main {
    position: absolute;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: clip;
   z-index: 1;
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 100px;
   scrollbar-color: transparent;
   /* border: 2px dashed blue; */
}

.about {
    align-content: end;
    line-height: 1.5rem;
    text-wrap: balance;
}

.project {
    display: grid;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    width: 60vw;
   
}

.project::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
  cursor: url('assets/site/cursorIconBlueHover.png') 16 16, auto;
}

::-webkit-scrollbar:hover {
  cursor: url('assets/site/cursorIconBlueHover.png') 16 16, auto;
}

.main::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}


.projectlist {
    scrollbar-color: rgb(190, 190, 190) transparent;
    overflow-y: scroll;
    padding-right: 5px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  z-index: -3;
}

h1 {
    overflow-wrap: normal;
}



h1#index {
    font-size: 10vh;
    position: relative;
    margin-top: 10vh;
    position: sticky;
    height: 5vh;
}




p {
    font-family: 'AHG', sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    transition: color 0.15s ease;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.1rem;
    color: #0800ff;
}

a:hover {
    text-decoration: underline 2px solid #0800ff;
    cursor: url('assets/site/cursorIconBlueHover.png') 16 16, pointer;
   
}

img.highlight {
    position: absolute;
    right: 5vw;
    top: 10vh;
    height: 15vh;
    z-index: 0;
}

.invisible {
   display: none;
}

.green {
    color: black;
}

hr {
    cursor: url('assets/site/cursorIconBlueHover.png') 16 16, pointer;
    border: none;
    border-top: black solid 2px;
    margin: 0px;
}

p.left {
    font-style: normal;
    text-align: left;
    width: fit-content;
    height: fit-content;
}


p.right {
    text-align: right;
    width: fit-content;
    height: fit-content;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

mark {
    background-color: transparent;
}

/* mark:hover {
    color: white;
} */

.row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    text-wrap: balance;
    height: fit-content;
    padding: 0px;
}

.projectnav {
    width: 20vw;
    overflow-y: scroll;
}

.projectnav .row {
    padding: 2px;
}







@media screen and (max-width: 768px) {
body {
    color: blue;
}

#main {
    width: 85vw;
    height: 88vh;
}


p {
    font-size: 4vw;
}

a {
    font-size: 1.1rem;
}

h1#index-title {
    font-size: 11vw;
    line-height: 12vw;
 margin-bottom: 80px;
}




}