::-webkit-scrollbar {
  display: none;
}

body {
  position: absolute;
  user-select: none;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
  justify-items: center;  
  align-content: center;
  margin: 0px;
  cursor: url('assets/site/cursorIconV6.cur') 16 16, auto;
   color: black;
}

.border {
overflow: clip;
white-space: nowrap;
}

#bordercontainer {
    position: static;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    color: rgb(170, 170, 170);
    font-size: 12px;
    z-index: -2;
   
}

#top {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 100vw;
}


#bottom {
position: absolute;
width: 100vw;
left: 50%;
bottom: 0vh;
transform: translateX(-50%) rotate(180deg); 
}

/* #left {
width: 90vh;
position: absolute;
top: 50%;
left: 2vh;
transform: translateY(-50%) translateX(-50%) rotate(-90deg);
transform-origin: center;
}

#right {
width: 90vh;
position: absolute;
right: 2vh;
top: 50%;
transform: translateY(-50%) translateX(50%) rotate(90deg);
transform-origin: center;
} */

#main {
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
   height: 90vh;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow-x: clip;
   overflow-y: scroll;
   z-index: 1;
   /* border: 2px dashed blue; */
}

.project {
    display: grid;
    grid-template-columns: auto auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  z-index: -3;
}

h1 {
    overflow-wrap: normal;
}

h1#index {
 font-size: 200px;
 position: relative;
 line-height: 180px;
 margin-bottom: 70px;
 margin-top: 50px;
}

#info h1 {
position: absolute;

}

h2#index {
    font-size: 60px;
    position: relative;
    margin-bottom: 15px;
    padding-top: 100px;
}

h2 a {
    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-size: 40px;
}

#myFace {
    position: sticky;
    width: 400px;
    right: 25%;
    top: 25%;
    border-radius: 20px;
   
}

p {
    font-family: 'AHG', sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
}

a {
    color: black;
    transition: color  0.15s ease;
    text-decoration: 1.5px underline;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.5rem;
    
}

a:hover {
    color: #61d10a;
    cursor: url('assets/site/cursorIconV6Hover.cur') 16 16, pointer;
}

img.highlight {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    z-index: 0;
    filter: opacity(50%);
}

.invisible {
   display: none;
}

.green {
    color: #61d10a;
}

hr {
    border: none;
    border-top: black solid 5px;
    margin: 0px;
}

p.left {
    text-align: left;
    width: fit-content;
    height: fit-content;
}

p.left a {
    
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    
}

p.right {
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    text-wrap: balance;
}

mark {
    transition: color  0.15s ease;
    background-color: white; 
    padding: 1px;
}

.projectnav {
    width: 20vw;
    overflow-y: scroll;
}

.projectnav .row {
    padding: 2px;
}








@media screen and (max-width: 768px) {
body {
    color: blue;
}

#main {
    width: 85vw;
    height: 88vh;
}


p {
    font-size: 4vw;
}

a {
    font-size: 1.1rem;
}

h1#index-title {
    font-size: 11vw;
    line-height: 12vw;
 margin-bottom: 80px;
}




}