

body {
  position: absolute;
  user-select: none;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
  justify-items: center;  
  align-content: center;
  margin: 0px;
  cursor: url('assets/site/cursorIconV6.cur') 16 16, auto;
   color: black;
}

.border {
overflow: clip;
white-space: nowrap;
}

.borderlink {
color: rgba(255, 0, 95, 0.5);
font-family: 'Libre Baskerville', serif;
font-style: italic;
font-weight: bold;
letter-spacing: -1px;
font-size: 15px;
}

#top {
position: absolute;
width: 95vw;
top: 2%;
}

#bottom {
position: absolute;
width: 95vw;
bottom: 2%;
rotate: 180deg;
}

#left {
position: absolute;
width: 90vh;
top: 49%;
right: 75%;
rotate: -90deg;
}

#right {
position: absolute;
width: 90vh;
top: 49%;
left: 75%;
rotate: 90deg;
}

#main {
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
   height: 90vh;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow-x: hidden;
   overflow-y: scroll;
   /* border: 2px dashed blue; */
   
   
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
  z-index: -2;
}

h1 {
    overflow-wrap: normal;
}

h1#index-title {
 font-size: 200px;
 position: relative;
 line-height: 180px;
 margin-bottom: 250px;
}


#myFace {
    position: sticky;
    width: 400px;
    right: 25%;
    top: 25%;
    border-radius: 20px;
   
}

p {
    font-family: 'AHG', sans-serif;
    font-size: 24px;
}

a {
    color: black;
    transition: color  0.15s ease;
    text-decoration: 1.5px underline;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 1.5rem;
    
}

a:hover {
    color: #61d10a;
    cursor: url('assets/site/cursorIconV6Hover.cur') 16 16, pointer;

}

img.highlight {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    z-index: -1;
    opacity: 0.5;
}

.invisible {
   display: none;
}


h2 {
    font-size: 60px;
    position: relative;
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: black solid 5px;
    margin: 0px;
    width: 90vw;
}

p.left {
    text-align: left;
    width: fit-content;
    height: fit-content;
    
}

p.right {
    text-align: right;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    text-wrap: balance;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
body {
    color: blue;
}

#main {
    width: 88vw;
}

p {
    font-size: 3vw;
}

a {
    font-size: 1.1rem;
}

h1#index-title {
    font-size: 12vw;
    line-height: 12vw;
 margin-bottom: 80px;
}


}